@charset "utf-8";
body{
  margin: 0;
  padding: 0;
  height: auto;
  background: linear-gradient(to top,rgb(255, 83, 10),#f76b4b,rgb(255, 255, 255));
  background-image: url(litvisualback.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Yu Gothic UI","Meiryo","ヒラギノ角ゴシック","San Francisco";
  

}
header{
  text-align: center;
  position: fixed;
  width: 100%;
  opacity: .9;
  z-index: 20;
}
hr{
  border: #000 solid;
  padding: 0;
  margin: 0;
  
}
section{
  padding-top: 40px;
  padding-bottom: 80px;
}
h1{
  font-size: 7vw;
  font-family: "Kaisei Decol", "Eagle Lake",serif;
}
h2{
  font-size: 6vw;
  margin: 64px auto 80px;
  font-family: "Kaisei Decol", "Eagle Lake",serif;
}
h3{
  font-size: 6vw;
  font-family: "Kaisei Decol", "Eagle Lake",serif;
}
.header {
  text-align: justify;
  background: var(--background-navbar);
  width: 100%;
  height: 52px;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
}
/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height:100vh;
  top: 0;
  margin-top: 52px;
  padding: 0 0 10px 0;
  clear: both;
  background: rgb(202, 178, 178);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
  text-align: center;
}
/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}



/* Hamburger menu text */
.menu a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: capitalize;
  color: #030202;
  font-weight: 900;
  /* -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: .1px; */
  opacity: 0;
  transition: 0.5s;
}
.menu li {
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
  padding-bottom: 3px; /* テキストと下線の間隔 */
  font-size: 24px;
  background-image: linear-gradient( #f76b4b, #f76b4b);
  background-repeat: no-repeat;
  background-position: bottom right; /* 下線の初期位置 */
  background-size: 0 2px; /* 下線のサイズ（横幅、高さ） */
  transition: background-size 0.3s;
}
.menu li:hover {
  background-position: bottom left; /* 下線のホバー時位置 */
  background-size: 100% 2px; /* 下線の横幅を100%にする */
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}
.menu-btn {
  display: none;
}
.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navicon {
  background: #ffffff;

  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ffffff;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
.navicon:before {
  top: 9px;
}
.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */
/* Navbar Container */
.navtext-container {
  width: 100%;
  height: 52px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Navbar Text */
.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ffffff ;
  letter-spacing: 4px;
  font-size: 36px;
  /* font-family: "Charm", cursive; */
  font-family: "Kaisei Decol", "Eagle Lake",serif;

  font-weight: 900;
  font-style: normal;
}

/* main */
main{
  margin: 0 auto;
  background: #ffffff;
  width: 100%;
  max-width: 900px;  
  overflow: hidden;
}

/* .title img{
  width: 100%;
  object-fit: cover;
  min-height: 320px;
}
.title{
  text-align: center;
  padding-top: 0;
}
.title h1 {
  padding: 32px 0;
  margin-top: 64px;
  margin-bottom: 32px;
} */
.mainpic{
  background: #000;
  padding:80px 0;
  
}
.marquee-right {
	overflow: hidden;
}
.marquee-right ul {
	animation: marquee-right 60s linear infinite;
	display: flex;
	margin: 0;
	padding: 0;
	width: max-content;
}
.marquee-right ul li {
  display:block;
	list-style: none;
	width: 240px;
  height: 480px;
  max-height: 480px;
  overflow: hidden;
  border-radius: 8px;
}
.marquee-right div{
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 480px;

}
.marquee-right img {
  width: 100%;
  height: 100%;
	display: block;
  object-fit: cover;
  margin: 0 auto;
  transition: .5s;
  overflow: hidden;
  padding: 8px;
  border-radius: 8px;
  opacity: .8;
  transition: 1s;
}
.marquee-right img:hover{
  opacity: .9;
  transition: 1s;

}

@keyframes marquee-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}
/* sliderend */
/* contents */
.contents{
  text-align: center;
}
.mainpic{
  text-align: center;
}
.mainvideo{
  max-width: 300px;

}
/* News */
.news{
  text-align: center;
}

.new-content{
  margin: 0 auto;
  font-size: 24px;
  padding: 24px 0 0px;
  width: 70%;
  border-bottom: 1px solid black;
  > div{
    width: 100%;
    padding: 16px 0 16px;
    
  }
}
.new-contents{
  font-size: 16px;
  text-align: left;
  border-top: 1px solid black;
}
.X-contents{
  display: none;
  width: 70%;
  height: auto;
  margin: auto;
  > p{
    display: inline-block;
  }
}

.X-timeline{
  overflow: scroll;
  width: 100%;
  max-width: 480px;
  height: auto;
  aspect-ratio: 1/1.2;
  margin: 0 auto;
  
  
  

}
/* Gallery */



/* works */
.work{
  text-align: center;
}
.work h3{
  margin-top: 24px;
}

.pic{ 
  width: 80%;
  height: auto;
  margin: 80px auto 56px;
  padding:0 4%;
}
.slider{
  position: relative;
  width: 100%;
  height: 480px;
  margin: 0 auto;
}
.sl{
  transform: rotate(-2.5deg);
}
.sr{
  transform: rotate(2.5deg);

}
.slide{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  animation: image-switch 20s infinite;  
  border: #1a0905 double 3px;
}
.only1{
  background-image: url(単発１.jpg);
}
.only2{
  background-image: url(単発2.jpg);
}
.only3{
  background-image: url(単発3.jpg);
}
.only4{
  background-image: url(単発4.jpg);
}

.app1{
  background-image: url(アプリ1.jpg);
}
.app2{
  background-image: url(アプリ2.jpg);
}
.app3{
  background-image: url(アプリ3.jpg);
}
.app4{
  background-image: url(アプリ4.jpg);
}

.kei1{
  background-image: url(経営1.jpg);
}
.kei2{
  background-image: url(経営2.jpg);
}
.kei3{
  background-image: url(経営3.jpg);
}
.kei4{
  background-image: url(経営4.jpg);
}

@keyframes image-switch{
  0%{ opacity: 0;}
  7%{ opacity: 1;}
  30%{ opacity: 1;}
  40%{ opacity: 0;}
  100%{ opacity: 0;}
}
.slide:nth-child(1){
  animation-delay: 0s;
}
.slide:nth-child(2){
  animation-delay: 5s;
}
.slide:nth-child(3){
  animation-delay: 10s;
}
.slide:nth-child(4){
  animation-delay: 15s;
}
.pictxt{
  padding: 8px;
  margin: 40px 4%;
  text-align: left;
  font-size: 16px;
}
.pictxt span{
  font-size: 24px;
  color: #f76b4b;
  -webkit-text-stroke-color: #1f0909;
  -webkit-text-stroke-width: .5px;
}


/* entry */
.entry{
  width: 60%;
  padding: 16px;
  font-size: 3.5vw; 
  text-decoration: none;
  background-color: #fff;
  color: #000;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: .5px;
  display: block;
  margin: 88px auto;
  border: #000 solid 4px;
  transition: .4s;
  border-radius: 8px;
  position: relative;
  font-family: "Kaisei Decol", "Eagle Lake",serif;
  text-align: center;

}
.entry:hover{
  
  background-color: #000;
  color: #fff;
  -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: .5px;
   span{
    font-weight: bolder;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 2px;
    transition: .8s;

  }

}
.entry span{
  font-weight: bolder;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 2px;
  transition: 1s;
}
.andgallary{
  margin: 88px auto;

  > a {
    margin: 8px auto;
  }
}

/* contact */
.contact{
  text-align: center;
  padding-bottom: 4px;
}
.frame{
  display: flex;
  width: 96%;
  padding-bottom: 8px;
}
.mypic{
  width: 48%;
  height: auto;
  border-radius: 4px;
  aspect-ratio: 1/1;
  margin: 0 2%;
  border: #000 solid 2px;
  background-image: url(yamada.jpg);
  background-size: cover;
  justify-content: space-between;
}
.co-txt{
  width: 49%;
  text-align: center;
  font-size: 16px;
}
.co-txt h3{
  font-size: 3vw;
}
.co-txt a{
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
  transition: .5s;
  text-decoration: none;
  color: #fff;
  border: #000 solid 1px;
  background-color: #030202;
  margin-top: 4px;
}
.co-txt a:hover{
  transition: .5s;
  background-color: #fff;
  color: #030202;
}

/* 色替え */
.colorrev{
  background: #000;
  color: #fff;
}

footer{
  width: 100%;
  max-width: 900px; 
  text-align: center;
  margin: 0 auto;

}
footer img{
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2/1;
  margin: 0 auto;
}




/* 期間限定 */
.picup{
  position: fixed;
  bottom: 5%;
  left: 10%;
  width: 160px;
  height: 96px;
  background-color: #ffffff00;
  border: #f76b4b double 4px;
  padding: 0;
  z-index: 10;
  border-radius: 5%;
  opacity: .7;
  transition: .5s;
  > a {
    text-decoration: none;
    color: black;
    > p{
      padding: 2% 6%;
      margin: 0;
      display: inline-block;
      font-size: 20px;
      font-weight: 900;
      > span{
        color: #f76b4b;
      }
    }
  }
  > p{
    padding: 2% 6%;
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    > span{
      color: #f76b4b;
    }
  }
}
.picup:hover{
 background-color: #ffffff;
 opacity: 1;
}
.picup-pictxt{
  width: 60%;
  padding: 16px;
  background: #fff;
  margin: 40px auto;
  font-size: 16px;
  font-weight: 200;
  color: #ffffff;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: .5px;
  opacity: .9;

}
.picup-pictxt span{
  font-size: 24px;
  color: #f76b4b;
  -webkit-text-stroke-color: #1f0909;
  -webkit-text-stroke-width: .5px;
}
.picupplan{
  border: #f76b4b solid 4px;
  background-image: url(gal11.jpg);
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode:darken;
  > .pictxt{
    font-size:2.5vw;
    > span{
      font-size: 3vw;
      font-weight: 900;
      border-bottom: #f76b4b solid 4px;
    }
    
  }
  > h3 {
    background: #ffffff;
    opacity: .8;
    width: 60%;
    padding: 16px;
    margin:48px auto;
    border-radius: 2px;
    > span{
      font-size: 4vw;
    }
  }
}
/* spstart */
@media(max-width:600px){
  .spstart{
    position: absolute;
    background: #000;
    width: 100%;
    height: 100vh;
    z-index: 30;
    text-align: center;
    opacity: 0;
    animation: titleback 3s;
    > img {
      padding-top: 25%;
      width: 100%;
    }
  }
  @keyframes titleback {
    0%{width: 100%; opacity: .7;}
    5%{opacity: 1;}
    50%{opacity: 1;
      /* backdrop-filter: blur(3px); */
    }
    100%{width: 100%; opacity: 0;}
  }
}


/* スマホ以外 */
@media(min-width:600px){
  .spstart{
    display: none;
  }
  h2,h3{
    font-size: 4vw;
  }
  .navtext{
    font-size: 48px;
  }
 .mainpic{
  background-image:url(litvisuallogoandtxt.jpg);
  background-size: cover;
  background-position: center;
 }
 .marquee-right img{
  opacity: .3;
 }
 .news-container{
  display: flex;
  justify-content: space-between;

 }

 
.new-content{
  margin: 0 auto;
  font-size: 24px;
  width: 45%;
  border-bottom:none;
  padding: 0;
  > h2 {
    font-size: 3vw;
  }
}
.new-contents{
  font-size: 16px;
  text-align: left;
  border-top: 1px solid black;
}
.new-contents:last-child{
  border-bottom: 1px solid black;
}
.X-contents{
  display: inline-block;
  width: 45%;
  height: auto;
  margin: auto;
  > p{
    display: inline-block;
  }
  > h2 {
    font-size: 3vw;
  }
}

.X-timeline{
  overflow: scroll;
  width: 90%;
  max-width: 480px;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto;
  
  

}
}
@media(min-width:900px){
  h1{
    font-size: 6vw;
    font-family: "Kaisei Decol", "Eagle Lake",serif;
  }
  h2{
    font-size: 5vw;
    margin: 80px auto;
    font-family: "Kaisei Decol", "Eagle Lake",serif;
  }
  h3{
    font-size: 3vw;
    font-family: "Kaisei Decol", "Eagle Lake",serif;
  }
  .picupplan{
    > h3{
      font-size: 3vw;
      > span {
        font-size: 2.5vw;
      }
    }
  }
  .picup-pictxt{
    font-size: 24px;
  }
  .picbox{
    display: flex;
  }
  .picboxrev{
    flex-direction: row-reverse;
  }
  .pictxt{
  padding:4%;
  margin: 1%;
  font-size: 1.5vw;
  > span{
    font-size: 2vw;
  }
  }
  .pic{ 
    width: 100%;
    max-width: 400px;
    height: auto;
    margin:64px auto;
    padding:0 4%;
  }
  .entry{
    width: 40%;
    padding: 16px;
    font-size: 2vw; 
  
  }
  .andgallary{
    display: flex;
    justify-content: space-between;
  }
}