@charset "utf-8";

/* main */



.mainpic{
  background: #000;
  padding:80px 0;
  position: relative;
}
.mainpic > h2{
  position: absolute;
  color: #474747;
  opacity: .3;
  font-size: 24px;
}
.mainpic > h2:nth-child(1){
  top: 15%;
  left: 5%;
  transform: rotate(-15deg);
}
.mainpic > h2:nth-child(2){
  top: 25%;
  right: 5%;
  transform: rotate(-15deg);
}
.mainpic > h2:nth-child(3){
  top: 35%;
  left: 5%;
  transform: rotate(-15deg);
}
.mainpic > h2:nth-child(4){
  top: 45%;
  right: 5%;
  transform: rotate(-15deg);
}
.marquee-right {
	overflow: hidden;
}
.marquee-right ul {
	animation: marquee-right 60s linear infinite;
	display: flex;
	margin: 0;
	padding: 0;
	width: max-content;
}
.marquee-right ul li {
  display:block;
	list-style: none;
	width: 240px;
  height: 480px;
  max-height: 480px;
  overflow: hidden;
  border-radius: 8px;
}
.marquee-right div{
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 480px;

}
.marquee-right img {
  width: 100%;
  height: 100%;
	display: block;
  object-fit: cover;
  margin: 0 auto;
  transition: .5s;
  overflow: hidden;
  padding: 8px;
  border-radius: 8px;
  opacity: .8;
  transition: 1s;
}
.marquee-right img:hover{
  opacity: .9;
  transition: 1s;

}

@keyframes marquee-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}
/* sliderend */
/* contents */
.contents{
  text-align: center;
  background: #000;
  color: #fff;
  > h2{
    margin-bottom:16px;
  }
  > h3{
    text-align: left;
    margin: 32px 24px 16px;
    color: #f76b4b;
  }
}
.contents-img{
  display: none;
}
.contents > h3{
  z-index: 2;
}
.subtitle{
  font-size: 28px;
  margin-bottom: 16px;
}
.about-txt{
  text-align: left;
  margin: 0 24px 16px;
  position: relative;
  z-index: 0;
  font-size:16px;
  > span{
    border-bottom: #fff 1px solid;
    font-size: 24px;
    z-index: 0;
    
  }
}
.about-txt > span::before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 100px 60px;
  border-color: transparent transparent 
  rgb(46, 38, 38) 
  transparent;
  position: absolute;
  z-index: -1;
  transform: rotate(30deg);
  top: -60px;
  left: 30px;

}

/* News */
/* .news{
  text-align: center;
}

.new-content{
  margin: 0 auto;
  font-size: 24px;
  padding: 24px 0 0px;
  width: 70%;
  border-bottom: 1px solid black;
  > div{
    width: 100%;
    padding: 16px 0 16px;
    
  }
}
.new-contents{
  font-size: 16px;
  text-align: left;
  border-top: 1px solid black;
}
.X-contents{
  display: none;
  width: 70%;
  height: auto;
  margin: auto;
  > p{
    display: inline-block;
  }
}

.X-timeline{
  overflow: scroll;
  width: 100%;
  max-width: 480px;
  height: auto;
  aspect-ratio: 1/1.2;
  margin: 0 auto;
  
  
  

} */


/* Review*/
.review{
  text-align: center;
  height: auto;
}
.review-box{
  position: relative;
  height: 55vh;
}
@media(min-width:500px){
  .review-box{
    height: 45vh;
  }
}
@media(min-width:900px){
  .review-box{
    height: 40vh;
  }
}
.review-img{
  position: absolute;
  top:10px;
  left: 2%;
  width: 64px;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: #000 1px solid;

  }
}
.review-txt-b{
  position: absolute;
  width: 78%;
  top: 0;
  left: calc(64px + 4%);
}
.review-txt{
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  width: 90%;
  border-radius: 4px;
  color: #555;
  
  background: rgba(252, 133, 59, 0.449);
  > h2{
    text-align: left;
    margin:0;
    font-size: 24px;
  }
}

.review-txt:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid rgba(252, 133, 59, 0.449);
}
.review-txt p {
  > span{
    font-size: 28px;
    font-weight: 500;
  }
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}



/* works */
.work{
  text-align: center;
}
.work h3{
  margin-top: 24px;
}

.pic{ 
  width: 80%;
  height: auto;
  margin: 80px auto 56px;
  padding:0 4%;
}
.slider{
  position: relative;
  width: 100%;
  height: 480px;
  margin: 0 auto;
}
.sl{
  transform: rotate(-2.5deg);
}
.sr{
  transform: rotate(2.5deg);

}
.slide{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;
  animation: image-switch 20s infinite;  
  border: #1a0905 double 3px;
}
.only1{
  background-image: url(単発１.jpg);
}
.only2{
  background-image: url(単発2.jpg);
}
.only3{
  background-image: url(単発3.jpg);
}
.only4{
  background-image: url(単発4.jpg);
}

.app1{
  background-image: url(アプリ1.jpg);
}
.app2{
  background-image: url(アプリ2.jpg);
}
.app3{
  background-image: url(アプリ3.jpg);
}
.app4{
  background-image: url(アプリ4.jpg);
}

.kei1{
  background-image: url(LINE_ALBUM_ギャラリー　ラウンジ撮影_250123_6.jpg);
}
.kei2{
  background-image: url(LINE_ALBUM_ギャラリー　ラウンジ撮影_250123_16.jpg);
}
.kei3{
  background-image: url(LINE_ALBUM_ギャラリー\　ラウンジ撮影_250123_10.jpg);
}
.kei4{
  background-image: url(LINE_ALBUM_ギャラリー　ラウンジ撮影_250123_5.jpg);
}

@keyframes image-switch{
  0%{ opacity: 0;}
  7%{ opacity: 1;}
  30%{ opacity: 1;}
  40%{ opacity: 0;}
  100%{ opacity: 0;}
}
.slide:nth-child(1){
  animation-delay: 0s;
}
.slide:nth-child(2){
  animation-delay: 5s;
}
.slide:nth-child(3){
  animation-delay: 10s;
}
.slide:nth-child(4){
  animation-delay: 15s;
}
.pictxt{
  padding: 8px;
  margin: 40px 4%;
  text-align: left;
  font-size: 16px;
}
.pictxt span{
  font-size: 24px;
  color: #f76b4b;
  -webkit-text-stroke-color: #1f0909;
  -webkit-text-stroke-width: .5px;
}
.pictxt > h3{
  position: relative;
  z-index: 1;
}
.pictxt > h3::before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 90px 54px;
  border-color: transparent transparent 
  rgba(252, 133, 59, 0.449) 
  transparent;
  position: absolute;
  z-index: -1;
  transform: rotate(35deg);
  top: -40px;
  left: 25px;

}


/* entry */
.entry{
  width: 60%;
  padding: 16px;
  font-size: 3.5vw; 
  text-decoration: none;
  background-color: #fff;
  color: #000;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: .5px;
  display: block;
  margin: 88px auto;
  border: #000 solid 4px;
  transition: .4s;
  border-radius: 8px;
  position: relative;
  font-family: "Kaisei Decol", "Eagle Lake",serif;
  text-align: center;

}
.entry:hover{
  
  background-color: #000;
  color: #fff;
  -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: .5px;
   span{
    font-weight: bolder;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 2px;
    transition: .8s;

  }

}
.entry span{
  font-weight: bolder;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 2px;
  transition: 1s;
}
.andgallary{
  margin: 88px auto;

  > a {
    margin: 8px auto;
  }
}
.back-b{
  padding: 8px 0 88px;
  background: #000;
  > h1{
    margin: 0 auto;
    font-size: 4px;
  }
  > a {
    margin: 0 auto;
  }
}
.back-b > a:hover{
  background-color: rgb(46, 38, 38);
}
/* contact */
.contact{
  text-align: center;
  padding-bottom: 4px;
}
.frame{
  display: flex;
  width: 96%;
  padding-bottom: 8px;
}
.mypic{
  width: 48%;
  height: auto;
  border-radius: 4px;
  aspect-ratio: 1/1;
  margin: 0 2%;
  border: #000 solid 2px;
  background-image: url(yamadaprofpic.jpg);
  background-position: center;
  background-size: cover;
  justify-content: space-between;
}
.co-txt{
  width: 49%;
  text-align: center;
  font-size: 16px;
}
.co-txt h3{
  font-size: 3vw;
}
.co-icon a{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: block;
  transition: .5s;
  text-decoration: none;
  
}
.co-icon:hover{
  transition: .5s;
  opacity: 1;
}
.co-iconbox{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.co-icon{
  width:calc((100% - 6%) / 3);
  margin:0 1%;
  height: auto;
  padding: 0;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background-size: cover;
  opacity: .7;
  background-color: #030202;
}
.co-i-1{
  background-image: url(ツイッターアイコンーｂ.jpg);
}
.co-i-2{
  background-image:url(ラインアイコンーｂ.jpg);
}
.co-i-3{
  background-image:url(インスタアイコンーｂ.jpg);
}
/* 色替え */
.colorrev{
  background: #000;
  color: #fff;
}

footer{
  width: 100%;
  max-width: 900px; 
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background: #000;
  > img{
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2/1;
  margin: 0 auto;
  }
  > div{
    padding:16px;
    > a{
      text-decoration: none;
      color: white;
    }
  }
}






/* 期間限定 */
.picup{
  position: fixed;
  bottom: 5%;
  left: 10%;
  width: 160px;
  height: 96px;
  background-color: #ffffff00;
  border: #f76b4b double 4px;
  padding: 0;
  z-index: 10;
  border-radius: 5%;
  opacity: .7;
  transition: .5s;
  > a {
    text-decoration: none;
    color: black;
    > p{
      padding: 2% 6%;
      margin: 0;
      display: inline-block;
      font-size: 20px;
      font-weight: 900;
      > span{
        color: #f76b4b;
      }
    }
  }
  > p{
    padding: 2% 6%;
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    > span{
      color: #f76b4b;
    }
  }
}
.picup:hover{
 background-color: #ffffff;
 opacity: 1;
}
.picup-pictxt{
  width: 60%;
  padding: 16px;
  background: #fff;
  margin: 40px auto;
  font-size: 16px;
  font-weight: 200;
  color: #000000;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: .5px;
  opacity: .9;

}
.picup-pictxt span{
  font-size: 24px;
  color: #f76b4b;
  font-weight: bold;
}
.picupplan{
  border: #f76b4b solid 4px;
  background-image: url(gal11.jpg);
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode:darken;
  > .pictxt{
    font-size:2.5vw;
    > span{
      font-size: 3vw;
      font-weight: 900;
      border-bottom: #f76b4b solid 4px;
    }
    
  }
  > h3 {
    background: #ffffff;
    opacity: .8;
    width: 60%;
    padding: 16px;
    margin:48px auto;
    border-radius: 2px;
    > span{
      font-size: 4vw;
    }
  }
}
/* spstart */
@media(max-width:600px){
  .spstart{
    position: absolute;
    background: #000;
    width: 100%;
    height: 100vh;
    z-index: 15;
    text-align: center;
    opacity: 0;
    animation: titleback 3s;
    > img {
      padding-top: 25%;
      width: 100%;
    }
  }
  @keyframes titleback {
    0%{width: 100%; opacity: .7;}
    5%{opacity: 1;}
    50%{opacity: 1;
      /* backdrop-filter: blur(3px); */
    }
    100%{width: 100%; opacity: 0;}
  }
  .co-icon{
    opacity: 1;
  }
  .new-content{
    width: 90%;
  }
  .co-txt > h3{
    font-size: 16px;
  }
  .profile{
    font-size: 12px;
  }
}


/* スマホ以外 */
@media(min-width:600px){
  .spstart{
    display: none;
  }


 .mainpic{
  background-image:url(litvisuallogoandtxt.jpg);
  background-size: cover;
  background-position: center;
 }

.contents{
  position: relative;
}
.contents-img{
  display: inline-block;
  position: absolute;
  bottom: 80px;
  right: 0;
  width: 50%;
  height: auto;
  opacity: .6;
  aspect-ratio: 1/1.1;
  background-image:url(aboutimg.jpg);
  background-position: 200%;
  background-size: cover;
}


 .marquee-right img{
  opacity: .3;
 }
 .news-container{
  display: flex;
  justify-content: space-between;

 }

 
.new-content{
  margin: 0 auto;
  font-size: 24px;
  width: 45%;
  border-bottom:none;
  padding: 0;
  > h2 {
    font-size: 3vw;
  }
}
.new-contents{
  font-size: 16px;
  text-align: left;
  border-top: 1px solid black;
}
.new-contents:last-child{
  border-bottom: 1px solid black;
}
.X-contents{
  display: inline-block;
  width: 45%;
  height: auto;
  margin: auto;
  > p{
    display: inline-block;
  }
  > h2 {
    font-size: 3vw;
  }
}

.X-timeline{
  overflow: scroll;
  width: 90%;
  max-width: 480px;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto;
  
  

}
}
@media(min-width:900px){

  .subtitle{
    font-size: 3vw;
  }
  .picupplan{
    > h3{
      font-size: 3vw;
      > span {
        font-size: 2.5vw;
      }
    }
  }
  .picup-pictxt{
    font-size: 24px;
  }
  .picbox{
    display: flex;
  }
  .picboxrev{
    flex-direction: row-reverse;
  }
  .pictxt{
  padding:4%;
  margin: 1%;
  font-size: 1.5vw;
  > span{
    font-size: 2vw;
  }
  }
  .pic{ 
    width: 100%;
    max-width: 400px;
    height: auto;
    margin:64px auto;
    padding:0 4%;
  }
  .entry{
    width: 40%;
    padding: 16px;
    font-size: 2vw; 
  
  }
  .andgallary{
    display: flex;
    justify-content: space-between;
  }
  .profile{
    font-size: 2vw;
  }
  .co-icon{
    width:calc((100% - 30%) / 3);
    margin:2px 5%;
  }
}