@charset "utf-8";
body{
  max-width: 100%;
  margin: 0;
  font-family: "Yu Gothic UI","Meiryo","ヒラギノ角ゴシック","San Francisco";
  font-family: "Kaisei Decol", "Eagle Lake",serif;

}
main{
  margin: 0 auto;
  padding: 72px 0;
  width: 100%;
  height: auto;
  background: black;
  color: #ffffff;
}
section{
  padding-bottom: 72px;
  text-align: left;
}
h2{
  width: calc(100% - 64px);
  margin: 0 auto;
  background: #ffffff;
  color: #000000;
  padding: 32px;
  font-size: 6vw;
}

/* header */
header{
  text-align: center;
  position: fixed;
  width: 100%;
  opacity: .9;
  z-index: 20;
  background-color: rgb(255, 255, 255);
  font-family: "Kaisei Decol", "Eagle Lake",serif;
}
.navtext {
  text-transform: uppercase;
  color: #000000 ;
  letter-spacing: 4px;
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
}
.f-menu-cover{
  color: #ffffff;
  list-style: none;  
  margin:2px;
  display: flex;
  justify-content: space-around;
}
.f-menu-in{
  display: inline-block;
  width: 32%;
  background: #000000;
  border: 1px solid black;
  border-radius: 4px;
  
  > a{
    width: 100%;
    display: inline-block;
    transition: 1s;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.menu-btn:hover{
  background: #ffffff;
  transition: 1s;
  color: #000000;
}
/* slider */

.marquee-right {
	overflow: hidden;
}
.marquee-right ul {
	animation: marquee-right 150s linear infinite;
	display: flex;
	margin: 0;
	padding: 0;
	width: max-content;
}
.marquee-right ul li {
  display:block;
	list-style: none;
	width: 240px;
  height: 480px;
  max-height: 480px;
  overflow: hidden;
  border-radius: 8px;
}
.marquee-right div{
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 480px;

}
.marquee-right img {
  width: 100%;
  height: 100%;
	display: block;
  object-fit: cover;
  margin: 0 auto;
  transition: .5s;
  overflow: hidden;
  padding: 8px;
  border-radius: 8px;
  opacity: .5;
  transition: .5s;
}
.marquee-right img:hover{
  opacity: 1;
  transition: .5s;

}

@keyframes marquee-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-89%);
	}
}
/* sliderend */





/* footer */
footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8px;
  opacity: .9;
  z-index: 20;
  background: #ffffff;
  padding: 4px;
  margin: 0;
 
}


/* size */
@media(min-width:900px){
  h2{
    font-size: 4vw;
  }
}
@media(min-width:600px){
  .navtext{
    font-size: 48px;
  }
}


/* section slider */
