@charset "utf-8";
body{
  max-width: 100%;
  margin: 0;
  font-family: "Yu Gothic UI","Meiryo","ヒラギノ角ゴシック","San Francisco";
  font-family: "Kaisei Decol", "Eagle Lake",serif;

}
main{
  margin: 0 auto;
  padding: 72px 0;
  width: 100%;
  height: auto;
  background: black;
  color: #ffffff;
}
section{
  padding-top: 48px;
  padding-bottom: 72px;
  text-align: left;
}
h2{
  width: calc(100% - 64px);
  margin: 0 auto;
  background: #ffffff;
  color: #000000;
  padding: 32px;
  font-size: 6vw;
  position: relative;
  z-index: 1;
}
h3{
  font-size: 5vw;
  padding-left: 32px;
  position: relative;
}


/* header */
header{
  text-align: center;
  position: fixed;
  width: 100%;
  opacity: .9;
  z-index: 20;
  background-color: rgb(255, 255, 255);
  font-family: "Kaisei Decol", "Eagle Lake",serif;
}
.navtext {
  text-transform: uppercase;
  color: #000000 ;
  letter-spacing: 4px;
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
}
.f-menu-cover{
  color: #ffffff;
  list-style: none;  
  margin:2px;
  display: flex;
  justify-content: space-around;
}
.pc > .f-menu-cover{
  background: #ffffff;
  /* display: none; */
  padding: 8px 2px 8px;
  
  
}
.pc > .f-menu-cover > .f-menu-in > a{
  font-size: 36px;
  padding: 32px 0 32px;
  position: relative;
  display: inline-block;
  
}
.pc > .f-menu-cover > .f-menu-in > a::before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 90px 54px;
  border-color: transparent transparent 
  rgba(252, 133, 59, 0.449) 
  transparent;
  position: absolute;
  transform: rotate(35deg);
  top: -10px;
  left: 35%;

}
.f-menu-in{
  display: inline-block;
  width: 32%;
  background: #000000;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  
  > a{
    width: 100%;
    display: inline-block;
    transition: 1s;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.menu-btn:hover{
  background: #ffffff;
  transition: 1s;
  color: #000000;
}
/* slider */

.marquee-right {
	overflow: hidden;
}
.marquee-right ul {
	animation: marquee-right 200s linear infinite;
	display: flex;
	margin: 0;
	padding: 0;
	width: max-content;
}
.marquee-right ul li {
  display:block;
	list-style: none;
	width: 240px;
  height: 480px;
  max-height: 480px;
  overflow: hidden;
  border-radius: 8px;
}
.marquee-right div{
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 480px;

}
.marquee-right img {
  width: 100%;
  height: 100%;
	display: block;
  object-fit: cover;
  margin: 0 auto;
  transition: .5s;
  overflow: hidden;
  padding: 8px;
  border-radius: 8px;
  opacity: .5;
  transition: .5s;
}
.marquee-right img:hover{
  opacity: 1;
  transition: 1s;

}

@keyframes marquee-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-79%);
	}
}
/* sliderend */

/* img buttun */
.imgcontainer{
  margin-top: 48px;

}
.imgcontainer .imgbox{
  max-width: 800px;
  height:auto;
  aspect-ratio: 1/1.2;
  min-height: 300px;
  position: relative;
  border: #333 5px double;
  overflow: hidden;
}
.imgcontainer .imgbox img{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: .4s;
}
.imgcontainer ul{
    border: #333 5px double;
    height: 120px;
    max-width: 800px;
    padding: 8px;
    margin-top: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow-x: scroll;
    width: auto;
}

.imgcontainer li{
    display: block;
    max-width: 100px;
    min-width: 100px;
    height: auto;
    aspect-ratio: 1/1;
    list-style-type:none;
    margin-right: 8px;
}

.imgcontainer li label{
    display:block;
}
.imgcontainer li img{
    width: 100%;
    height:auto;
    object-fit: cover;
    aspect-ratio: 1/1;

}
/*ラジオボタンを非表示にする*/
#food1,#food2,#food3,#food4,#food5,#food6,#food7,#food8,#food9,#food10,#food11,#food12,#food13,#food14,#food15,#food16{
  display: none;
}
#food1:checked ~ .i-b-1 img:nth-child(1){
 opacity: 1;
}
#food2:checked ~ .i-b-1 img:nth-child(2){
 opacity: 1;
}
#food3:checked ~ .i-b-1 img:nth-child(3){
 opacity: 1;
}
#food4:checked ~ .i-b-1 img:nth-child(4){
  opacity: 1;
 }
 #food5:checked ~ .i-b-1 img:nth-child(5){
  opacity: 1;
 }
 #food6:checked ~ .i-b-1 img:nth-child(6){
  opacity: 1;
 }
 #food7:checked ~ .i-b-1 img:nth-child(7){
  opacity: 1;
 }
 #food8:checked ~ .i-b-1 img:nth-child(8){
  opacity: 1;
 }
 #food9:checked ~ .i-b-1 img:nth-child(9){
   opacity: 1;
  }
#food10:checked ~ .i-b-1 img:nth-child(10){
   opacity: 1;
  }
  #food11:checked ~ .i-b-1 img:nth-child(11){
    opacity: 1;
   }
   #food12:checked ~ .i-b-1 img:nth-child(12){
    opacity: 1;
   }
   #food13:checked ~ .i-b-1 img:nth-child(13){
    opacity: 1;
   }
   #food14:checked ~ .i-b-1 img:nth-child(14){
     opacity: 1;
    }
   #food15:checked ~ .i-b-1 img:nth-child(15){
     opacity: 1;
    }
#food16:checked ~ .i-b-1 img:nth-child(16){
    opacity: 1;
  }
 
.rev{
  flex-direction: row-reverse;
}
  #fod1,#fod2,#fod3,#fod4,#fod5,#fod6,#fod7,#fod8,#fod9,#fod10,#fod11,#fod12,#fod13,#fod14,#fod15,#fod16{
    display: none;
  }
  #fod1:checked ~ .i-b-2 img:nth-child(1){
   opacity: 1;
  }
  #fod2:checked ~ .i-b-2 img:nth-child(2){
   opacity: 1;
  }
  #fod3:checked ~ .i-b-2 img:nth-child(3){
   opacity: 1;
  }
  #fod4:checked ~ .i-b-2 img:nth-child(4){
    opacity: 1;
   }
   #fod5:checked ~ .i-b-2 img:nth-child(5){
    opacity: 1;
   }
   #fod6:checked ~ .i-b-2 img:nth-child(6){
    opacity: 1;
   }
   #fod7:checked ~ .i-b-2 img:nth-child(7){
    opacity: 1;
   }
   #fod8:checked ~ .i-b-2 img:nth-child(8){
    opacity: 1;
   }
   #fod9:checked ~ .i-b-2 img:nth-child(9){
     opacity: 1;
    }
  #fod10:checked ~ .i-b-2 img:nth-child(10){
     opacity: 1;
    }
    #fod11:checked ~ .i-b-2 img:nth-child(11){
      opacity: 1;
     }
     #fod12:checked ~ .i-b-2 img:nth-child(12){
      opacity: 1;
     }
     #fod13:checked ~ .i-b-2 img:nth-child(13){
      opacity: 1;
     }
     #fod14:checked ~ .i-b-2 img:nth-child(14){
       opacity: 1;
      }
     #fod15:checked ~ .i-b-2 img:nth-child(15){
       opacity: 1;
      }
  #fod16:checked ~ .i-b-2 img:nth-child(16){
      opacity: 1;
    }

    #fd1,#fd2,#fd3,#fd4,#fd5,#fd6,#fd7,#fd8,#fd9,#fd10,#fd11,#fd12,#fd13,#fd14,#fd15,#fd16{
      display: none;
    }
    #fd1:checked ~ .i-b-3 img:nth-child(1){
     opacity: 1;
    }
    #fd2:checked ~ .i-b-3 img:nth-child(2){
     opacity: 1;
    }
    #fd3:checked ~ .i-b-3 img:nth-child(3){
     opacity: 1;
    }
    #fd4:checked ~ .i-b-3 img:nth-child(4){
      opacity: 1;
     }
     #fd5:checked ~ .i-b-3 img:nth-child(5){
      opacity: 1;
     }
     #fd6:checked ~ .i-b-3 img:nth-child(6){
      opacity: 1;
     }
     #fd7:checked ~ .i-b-3 img:nth-child(7){
      opacity: 1;
     }
     #fd8:checked ~ .i-b-3 img:nth-child(8){
      opacity: 1;
     }
     #fd9:checked ~ .i-b-3 img:nth-child(9){
       opacity: 1;
      }
    #fd10:checked ~ .i-b-3 img:nth-child(10){
       opacity: 1;
      }
   #fd11:checked ~ .i-b-3 img:nth-child(11){
        opacity: 1;
       }
   #fd12:checked ~ .i-b-3 img:nth-child(12){
        opacity: 1;
       }
     #fd13:checked ~ .i-b-3 img:nth-child(13){
        opacity: 1;
       }
     #fd14:checked ~ .i-b-3 img:nth-child(14){
         opacity: 1;
        }
     #fd15:checked ~ .i-b-3 img:nth-child(15){
         opacity: 1;
        }
    #fd16:checked ~ .i-b-3 img:nth-child(16){
        opacity: 1;
      }
   
  


/* footer */
footer{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background: #000;
  > img{
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2/1;
  margin: 0 auto;
  }
 
}


/* size */
.pc{
  display: none;
}
@media(min-width:900px){
  h2{
    font-size: 4vw;
  }
  h3{
    font-size: 3vw;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #333;
    background-color:black;
    font-weight: bold;
  }
  .sp{
    display: none;
  }
  .pc{
    display: grid;
  }
  header.scrolled {
    background:rgb(0, 0, 0);
    > .navtext-container{
      > .navtext{
        color: #ffffff;
      }
    }
    
  }
  h2::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0 110px 66px;
    border-color: transparent transparent 
    rgba(252, 133, 59, 0.449) 
    transparent;
    position: absolute;
    transform: rotate(35deg);
    top: -10px;
    left: 40px;
    z-index: -1;
  
  }
  h3::before{
    position: absolute;
    top: 100%;
    left: 128px;
    transform: translateX(-50%) skew(-25deg);
    height: 20px;
    width: 20px;
    border-right: 3px solid #333;
    background-color: black;
    content: "";
  }
  .imgcontainer{
    display: flex;
    height: auto;
    border: #333 5px double;

  }
  .imgcontainer .imgbox{
    width: 50%;
    border: none;
  }
  .imgcontainer .imgbox img{
    padding: 3%;
    width: 94%;
  }
  .imgcontainer ul{
    border: none;
    height: 100%;
    max-width: 50%;
    width: 50%;
    padding: 3%;
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
/* .foodcontainer ul::-webkit-scrollbar{
  display: none;
} */
.imgcontainer ul li{
    display: block;
    max-width: none;
    min-width: none;
    width: 22%;
    margin: .5%;
    height: auto;
    aspect-ratio: 1/1;
    list-style-type:none;
}
.imgcontainer li label{
    display:block;
  
}
.imgcontainer li img{
    width: 100%;
    height:auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    opacity: .7;
    transition: .7s;
}
.imgcontainer li img:hover{
  opacity: 1;
  transition: .7s;

}
}
@media(min-width:600px){
  .navtext{
    font-size: 48px;
  }
}
@media(max-width:900px){
  .imgcontainer li{
    max-width: 100px;
    min-width: 100px;
}
}


/* section slider */



/* 上に */
header.scrolled {
  opacity: .7;
  
}
#to_top {
  position: fixed;
  bottom:16px;
  right: 16px;
  opacity: 0;
}
#to_top i {
  font-size: 48px;
  color: rgb(187, 91, 1);
}
#to_top.scrolled {
  opacity: .7;
}